@import "tailwindcss";

:root {
    font-family: Arial, Inter, system-ui, Avenir, Helvetica, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --accent: #4147ab;
    --neutral: #222;
    --bgcolor: #111;

    color: white;
    background-color: var(--bgcolor);
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
}
