@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --altbackground: #ededed;
    --foreground: #171717;
    --accent: theme("colors.indigo.400");
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --altbackground: #171717;
        --foreground: #ededed;
        --accent: theme("colors.indigo.700");
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: inherit; /* Track color */
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent); /* Thumb color */
    border-radius: 6px; /* Rounded thumb */
    border: 3px solid var(--altbackground); /* Creates padding around the thumb */
}
