#root {
    text-align: center;
    /* background-color: var(--bgcolor); */
}

.chat-container {
    width: 50vw;
    max-height: 70vh;
    margin: auto;
    overflow-y: auto;
}

.chat-container div {
    border-radius: 1em;
    padding: 0.3em 1em 0.3em 1em;
    margin: 1em;
}

.chat-container div:nth-child(2n) {
    background-color: var(--neutral);
    text-align: left;
}

.chat-container div:nth-child(2n + 1) {
    background-color: var(--accent);
    text-align: right;
}

.form-container textarea {
    all: unset;
    background-color: inherit;
    color: white;
    width: 90%;
    text-align: left;
    font-family: inherit;
    font-weight: inherit;

    border: none;
    padding: 0 1em 0 1em;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.form-container button {
    all: unset;
    background: var(--neutral);
    border-radius: 1em;
    padding: 1em;
}

#input-bubble {
    background-color: var(--accent);
}

.form-container {
    display: flex;
    height: 100%;
}

p {
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: white;
    background-color: var(--accent);
    border-radius: 0.3em;
    padding: 0.2em;
}
